body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.loginWindow {
    width: 320px;
    height: 450px;
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 4px;
}

.hacker {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: -5 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.loginWindow p {
    margin: 12 0 0 0;
    padding: 0;
    font-weight: bold;
}

.loginWindow input {
    width: 100%;
    margin-bottom: 20px;
}

    .loginWindow input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 30px;
        color: #fff;
        font-size: 13;
    }

    .loginWindow input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 16px;
        border-radius: 20px;
    }

        .loginWindow input[type="submit"]:hover {
            cursor: pointer;
            background: #ffc107;
            color: #000;
        }

.loginWindow a {
    text-decoration: none;
    font-size: 14;
    line-height: 20px;
    color: darkgray;
}
